[user]
  name = Matt McMahand
  useConfigOnly = true
[alias]
  alias-master-as-main = !git symbolic-ref refs/heads/main refs/heads/master && git symbolic-ref refs/remotes/origin/main refs/remotes/origin/master && git switch main
  cis = commit -S
  cw = "log --author='McMahand' --since='this monday' --until='this sun' --format='%Cgreen%ad%Creset %s%Creset' --no-merges --date=short"
  l = "!. ~/.githelpers && pretty_git_log"
  lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
  lm = "log --author='McMahand' --since='last month' --until='today' --format='%Cgreen%ad%Creset %s%Creset' --no-merges --date=short"
  logs = log --show-signature
  lw = "log --since='last week' --until='last sun' --format='%Cgreen%ad%Creset %s%Creset' --no-merges --date=short"
  mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
  td = "log --author='McMahand' --after='yesterday' --format='%Cgreen%ad%Creset %s%Creset' --date=short"
[color]
  ui = true
  diff = true
[core]
  excludesfile = ~/.gitignore
[credential "https://gist.github.com"]
  helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[diff]
  wsErrorHighlight = all
[fetch]
  prune = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  process = git-lfs filter-process
  required = true
  smudge = git-lfs smudge -- %f
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[init]
  defaultBranch = master
[log]
  mailmap = true
[mailmap]
  file = ~/.mailmap
[pull]
  rebase = true
[push]
  autoSetupRemote = true
  default = simple
[includeIf "gitdir:~/dev/work/debtbook/"]
	path = ~/.gitconfig-debtbook

[includeIf "gitdir:~/dev/play/"]
	path = ~/.gitconfig-personal

[remote "origin"]
	prune = true
